#experienceContainer li{
  font-size: medium;
}

#closeInfo
{
  float: right;
  width: 5%;
  margin-top: 1%;
}

.experience, .service {
  margin: 0 auto !important;
}

.service-item
{
  padding: 5px;
  margin: 5px;
  border: 1px solid lightgray;
  border-left: 10px solid lightgray;
  border-radius: 5px;
  min-height: 250px;
}

.experienceInfo {

  display: none;
  top: 0;
  left: 0;
  width: 100%;
}

.card-container, .service-container {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.card-image {
  background-repeat: no-repeat;
  height: 200px;
}

.card-title, .service-title {
  margin: 0 auto;
}

.cardImg {
  width: 100%;
  height: 100%;
}
