#experienceContainer li{
  font-size: medium;
}

#closeInfo
{
  float: right;
  width: 5%;
  margin-top: 1%;
}

.experience {
  margin: 0 auto !important;
}

.experienceInfo {

  display: none;
  top: 0;
  left: 0;
  width: 100%;
}

.card-container {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.card-image {
  background-repeat: no-repeat;
  height: 200px;
}

.card-title {
  margin: 0 auto;
}

.cardImg {
  width: 100%;
  height: 100%;
}
