#body {
  margin: 0px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

#intro, #educationContainer, #miscContainer, #personalSkillsContainer {
  background-color: #F3F3F3;
}

hr {
  border-top: 1px solid #999999 !important;
}

.mainContainer {
  padding: 0px;
  width: 100%;
}

.intro, .techSkills, .personalSkills, .experience, .education, .services, .misc, .contact, .footer {
  text-align: left;
  padding: 50px 50px 50px 50px;
  margin: 0 auto;
}

.wellcome {
  color: black;
}

.bootstrapHelper {
  width: 100%;
  height: 1px;
}

.introStart {
  font-style: italic;
  font-weight: bold;
  font-size: 68px;
  line-height: 40px;
  margin-bottom: 25px;
  text-align: -webkit-center;
}

.introImage {
  background-image: url('../src/images/codecode1024b.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#contactForm {
  background-image: url(../src/images/worldMap.png);
}

.contactForm {
  margin: 20px;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
}

.contactEmail, #contactEmail {
  padding: 0px !important;
  margin: 0px !important;
}

.contactItem {
  text-align: -webkit-center;
}

.help-block
{
  background-color: black;
  color: orange !important;
}

.img-circle {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.experienceInfo {
  display: none;
  position: fixed;
  z-index: 100;
  height: 100%;
  overflow: auto;
  background-color: white;
  padding: 50px;
  border-left: 10px solid steelblue;
  border-right: 10px solid steelblue;
}

/* Phones */

@media (max-width: 599px) {
  .bootstrapHelper {
    background-color: black;
  }
  .introStart {
    font-size: 22px;
  }
  .intro, .techSkills, .personalSkills, .education, .misc, .services, .experienceInfo, .contactItem p {
    font-size: 15px;
  }
  .experience {
    padding: 50px 0px 50px 0px;
  }
  .experienceInfo h1 {
    font-size: 20px;
  }
  .experienceInfo h2 {
    font-size: 18px;
  }
  .experienceInfo h4 {
    font-size: 16px;
  }
  .experienceInfo {
    padding-left: 20px;
  }
  .img-circle {
    width: 200px;
    height: 200px;
  }
  .contactForm {
    width: 100%;
  }
  #closeInfo {
    width: 5%;
    margin-top: 7%;
  }
}

/* Tablets  */

@media (min-width: 600px) and (orientation: portrait) {
  .bootstrapHelper {
    background-color: red;
  }
  .introStart {
    font-size: 40px;
  }
  .intro, .techSkills, .personalSkills, .education, .misc, .experienceInfo, .contactItem p {
    font-size: 21px;
  }
  .experience {
    padding: 50px 0px 50px 0px;
  }
  .experienceInfo h1 {
    font-size: 24px;
  }
  .experienceInfo h2 {
    font-size: 22px;
  }
  .experienceInfo h4 {
    font-size: 20px;
  }
  .services {
    font-size: 18px;
  }
  .service-item {
    height: 380px;
    width: 48% !important;
  }
  #closeInfo {
    width: 6%;
    margin-top: 3%;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .bootstrapHelper {
    background-color: red;
  }
  .introStart {
    font-size: 40px;
  }
  .intro, .techSkills, .personalSkills, .education, .misc, .experienceInfo, .contactItem p {
    font-size: 15px;
  }
  .experience {
    padding: 50px 0px 50px 0px;
  }
  .experienceInfo h1 {
    font-size: 24px;
  }
  .experienceInfo h2 {
    font-size: 22px;
  }
  .experienceInfo h4 {
    font-size: 20px;
  }
  .img-circle {
    width: 200px;
    height: 200px;
  }
  #closeInfo {
    width: 5%;
    margin-top: 4%;
  }
}

/* Tablets landscape */

@media (min-width: 900px) and (orientation: landscape) {
  .bootstrapHelper {
    background-color: green;
  }
  .introStart {
    font-size: 50px;
  }
  .intro, .techSkills, .personalSkills, .education, .misc, .experienceInfo, .contactItem p {
    font-size: 21px;
  }
  .services {
    font-size: 18px;
  }
  .service-item {
    height: 350px;
    width: 48% !important;
  }
  #closeInfo {
    margin-top: 3%;
  }
}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 1200px) {
  .bootstrapHelper {
    background-color: blue;
  }
  .service-item {
    width: 48% !important;
  }
  #closeInfo {
    width: 3%;
    margin-top: 1em;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1800px) {
  .bootstrapHelper {
    background-color: yellow;
  }
  .service-item {
    height: 280px;
    width: 48% !important;
  }
  #closeInfo {
    width: 3%;
    margin-top: 1em;
  }
}
